$main: aquamarine;

body{
    background-color: $main;
    
    h1 {
     background-color: $main;
    display: flex;
    justify-content: center;
    }

    p {
        background-color: wheat;
    display: flex;
    justify-content: center;
    }
}